@model ECF_auto_ecole.Models.Modele

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Modele</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModèleVéhicule" class="control-label"></label>
                <input asp-for="ModèleVéhicule" class="form-control" />
                <span asp-validation-for="ModèleVéhicule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Année" class="control-label"></label>
                <input asp-for="Année" class="form-control" />
                <span asp-validation-for="Année" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAchat" class="control-label"></label>
                <input asp-for="DateAchat" class="form-control" />
                <span asp-validation-for="DateAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
