@model ECF_auto_ecole.Models.Vehicule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vehicule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NImmatriculation" />
            <div class="form-group">
                <label asp-for="ModèleVéhicule" class="control-label"></label>
                <select asp-for="ModèleVéhicule" class="form-control" asp-items="ViewBag.ModèleVéhicule"></select>
                <span asp-validation-for="ModèleVéhicule" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="État" /> @Html.DisplayNameFor(model => model.État)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
