@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<Eleve>;
}

<div>
    <h3>Bonjour et bienvenu a cet ECF</h3>
    <p>j'ai rencontrer pas mal de difficultés notament entre la communication du front au back, toutes fois je me suis tournée vers les méthodes entity pour réussir
       cet ecf j'espère qu'il conviendra. vous trouverez en commentaire les difficulter rencontrer et je suis impatient de pouvoir en discuter.
        pour être bref voici une petite compilation: 
        <br /> - envoyer du front au back
        <br /> - modifié la base de données dans le code car je ne voulais pas recommencer 
        <br /> - la table lecon qui est catastrophique auquel je ne l'avais pas compris a la base
        <br /> - cette table est surement la plus grosse raison de cet échec car je ne parviens pas a faire une requete pour afficher plusieur table
        <br /> - en soit une requete qui affiche une table sauf lecon et bien sa fonctionne 
    </p>

</div>
