@model ECF_auto_ecole.Models.Lecon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lecon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModèleVéhicule" />
            <input type="hidden" asp-for="DateHeure" />
            <input type="hidden" asp-for="IdÉlève" />
            <input type="hidden" asp-for="IdMoniteur" />
            <div class="form-group">
                <label asp-for="Durée" class="control-label"></label>
                <input asp-for="Durée" class="form-control" />
                <span asp-validation-for="Durée" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

