@model ECF_auto_ecole.Models.Calendrier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calendrier</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DateHeure">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
